
.aboutCared {
    width: 55%;
    height: 20%;
    float: left;
    margin: 6% 8%;
}
.portfolioHolder{
    margin:3% 8% ;
}
.mediaCared {
    width: 20%;
    height:10%;
    float:left;
    margin:6% 0;
}
.portfolioCard {
    maxWidth: 275;
    height:20%;
    float:left;
    margin:6% 7%;
}
.portfolioMedia {
    height: 170px;
}

.portfolioTitle{
    color: #FCA05F;
    font-weight: bold;
}
.typewriter{
    font-weight: bold;
    font-size: 28px;
    color: #FCA05F;
    align-self: center;
    margin-top: 3%;
}
.react-rotating-text-cursor {
    animation: blinking-cursor 0.8s cubic-bezier(0.68, 0.01, 0.01, 0.99) 0s infinite;

}

@keyframes blinking-cursor {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

html,body{

    /*height: 100%;*/
    /*width: 100%;*/
    background-image: url("./images/ep_naturalwhite.png");
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

.aboutme{
    height: auto;
    overflow-y: auto;
}
.container{
    width:100vw;
    height: 100%;
    position: relative;
    margin: 0%;
}
a.menu-link{
    text-decoration: none;
    color:#FCA05F;
    font-size: 15px;
}
.menu-container{
    background-color: white;
    height: 100%;
    position: relative;
}
.menu {

    width: 30%;
    float: left;
    margin-top: 2%;
}

.myname{
    width: 20%;
    height: 200%;
    color:white;
    background-color:  #FCA05F;
    /*font-size: 19px;*/
    font-weight: bold;
    text-align: center;
    float: left;
    left: 0%;

    font-size:28px;
    margin-right: 48%;

    padding: 0px 7px 0px 7px;
}


.media-holder,.image-holder{
    background-color: white;

}
li{
    display: inline;
    list-style:none;
    margin-right:6%;
}
.media-list {
    padding-left: 0;
    align-content: center;
}
.media-link img{
    width:50px;
    height:50px;
    border-radius: 0px;
    margin-left:5px;
}

footer{
    left: 0;
    bottom: 0;
    width: 100%;
    display:block;
    text-align: center;
    color: white;
    height:100%;
    clear:left;

}
.aboutme>h1 , .media>h3 {
    color:#ffa300;
    font-family: Georgia, Times, 'Times New Roman', serif;

}
.horazontal-line
{
    border:1.5px solid #cccccc;
}

.l2{
    margin-left: 2%;
    color:#ffa300;
}

footer p {
    text-align: center;
}

.my-image{
    width: 25%;
    border-radius: 50%;
     float: left;
     margin-left: 2%;
     margin-right: 2%;
}
a.menu-link:link{
    text-decoration: none;
    color:white;
    font-size: 20px;
    font-weight: bold;
}
a.menu-link:visited{
    text-decoration: none;
}
a.menu-link:hover{
    text-decoration: none;
    font-size: 27px;
    font-weight: bold;
    color: #777777;

}
/*this is for link in protifolioCard*/
a.menu-lin:link{
    text-decoration: none;
    font-size: 20px;

}
a.menu-lin:visited{
    text-decoration: none;
    /*color: #7e7979;*/

}
a.menu-lin:hover{
    text-decoration: none;
    /*color: #FCA05F;*/
    font-weight: bold;

}
a.menu-link:active{
    text-decoration: none;
    color:white;
}
.img:hover{
    opacity: 0.5;
}
.media{
    padding: 3%;
}
.aboutme{
    padding:0% 2%;
}


input[type=text],  input[type=email]    {
    width: 100%;
    height: 30%;
    padding: 1.5% 0%;
    border:0.5px solid  #cccccc;
    margin-top: 1%;


}
textarea{
    border:0.5px solid  #cccccc;;
    width: 100%;
}

input[type=submit]{
padding: 12px 35px;
background-color:#FCA05F;
color: white;
font-size: 16px;
margin-top: 10px;
}
input[type=submit]:hover {
background-color: #FEE1CD;
    color: #FCA05F;
}

/*NEW MENU*/
.topnav {
    overflow: hidden;
    background-color: white;
}

.topnav a {
    float: left;
    display: block;
    color: #FCA05F;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;

}

.topnav a:hover {
    background-color: #FCA05F;
    color: white;
}

/*!******** Above 980 PX**********************!*/
@media only screen and (min-width : 980px) {
    /*.myname{*/
        /*width: 25%;*/
        /*margin-right: 35%;*/
        /*background-color: red;*/
    /*}*/
    /*.menu {*/

        /*width: 35%;*/
        /*float: left;*/
    /*}*/
    /*.aboutCared {*/
        /*width: 45%;*/
    /*}*/
    /*.mediaCared {*/
        /*width: 30%;*/
        /*height:10%;*/
        /*float:left;*/
        /*margin:6% 0;*/
    /*}*/
}

/*!******** Between  980 - 769 PX**********************!*/
@media screen and (min-width: 769px) and (max-width: 980px)
{

    .myname{
        width: 25%;
        margin-right: 35%;

    }
    .menu {

        width: 37%;
        float: left;
        border: 1px solid black;
    }
    .aboutCared {
        width: 45%;
    }
    .mediaCared {
        width: 30%;
        height:10%;
        float:left;
        margin:6% 0;
    }

}

/*!******** Between  768-641 PX**********************!*/
@media screen and (min-width: 641px) and (max-width: 768px) {

    .myname {
        width: 32%;
        margin-right: 18%;

    }

    .menu {

        width: 47%;
        float: left;

    }

    .aboutCared {
        width: 78%;
    }

    .mediaCared {
        width: 78%;
        height: 10%;
        float: left;
        margin: 0% 8% 3%;
    }

    .my-image {
        width: 45%;
        margin-left: 3%;
        margin-right: 3%;


    }
    /*.hey{*/
        /*text-align: justify;*/
    /*}*/
    .media-link img{
        width:65px;
        height:65px;
        /*border-radius: 0px;*/
        margin-right:11px;
        align-content: center;
    }
    .media-list{
        margin-left: 15%;
    }

}
/*!******** Below  640 PX**********************!*/
@media only screen and (max-width: 640px)
{
    .my-image {
        width: 100%;
        margin-left: 3%;
        margin-right: 3%;
    }
    .myname{
        width: 100%;
        /*margin-right: 18%;*/

        margin-right: 0%;
    }
    .menu {
        width: 100%;
        margin-right: 0%;
        align-content:start;
    }
    .aboutCared {
        width: 78%;
    }
    .mediaCared {
        width: 78%;
        height:10%;
        float:left;
        margin: 6% 8% 1%;
    }
    a.menu-link{
        margin-left: 0%;
    }
    .menu-list li{
        margin-left: 0%;
        display: inline-block;
    }
    a.menu-lin:link{
        font-size: 15px;

    }
    .my-image{

        margin-bottom: 3%;

    }
    .typewriter{
        margin-left: 5%;
        align: center;
        margin-top: 5%;
    }
}

